################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tic_Tac_Toe/v16/Browse.VC.opendb
